pyyaml>=6.0
typing_extensions>=4.12
fast-flights @ git+https://github.com/AWeirdDev/flights@7c105db4ed5f73fbadbf6b0e9f6bdfd71f352d97
flights @ git+https://github.com/punitarani/fli@881aee5ff4321e81ea2157cb44be94ce6a21dc1b
